{% extends 'base.html.twig' %}

{% block title %}Portfolio
{% endblock %}

{% block body %}

	<section>
		<div class="project-description">
			<h2>Portfolio - Mars 2021</h2>

			<p>Afin de continuer à pratiquer et pouvoir regrouper mes projets futurs, je me suis lancée dans la conception de ce portfolio.</p>

			<p>J'ai créé ce projet responsive avec Symfony, PHP, HTML, CSS, Twig et Bootstrap.</p>

			<p>Je suis partie d'une base HTML/CSS d'un template de portfolio en une page de Nicolas Brondin-Bernard (lien de son projet <a target="_blank" href="https://github.com/NicolasBrondin/john-doe">ici</a>) que j'ai retravaillée, personnalisée et dynamisée.</p>

		</section>

		<section class="hover-section">
			<h5>Voir le projet</h5>

			<p>Dépôt Github:
				<a target="_blank" href="https://github.com/Amelie-Sausseau/Amelie-Sausseau">
					<i class="fab fa-github-square">&emsp;</i>
				</a>
			</p>
		</section>
		<hr/>

		<div class="container">

			<a class="button" href="{{ path('projects') }}">Retour aux réalisations</a>
			<a class="button" href="{{ path('main') }}">Retour à l'accueil</a>

		</div>

	{% endblock %}
