{% extends 'base.html.twig' %}

{% block title %}Amélie Sausseau
{% endblock %}

{% block body %}
	<div class="home">
		<div class="description">
			<section>
				<h1>Bonjour, je suis Amélie Sausseau</h1>
				<h2>Développeuse web back-end</h2>
				
				<div class="presentation">
				<img src="{{ asset('img/amsymf.png') }}"/>
				
				<p>
				
				Après 6 années en tant que secrétaire médicale dans un service de consultations hospitalières qui m'ont permis de travailler en équipe, d'être organisée, rigoureuse et souriante peu importe l'urgence de la situation, j'ai souhaité aborder un nouveau tournant dans ma carrière.<br>

				Etant passionnée depuis plusieurs années par l'univers du web, j'ai pu intégrer une formation de 5 mois avec spécialisation Symfony dans l'école O'Clock, labélisée GEN (-><a target="_blank" href="https://oclock.io/formations/developpeur-web#programme">Programme détaillé</a>)<br><br>

				Après ces mois d'apprentissage qui m'ont confortée dans mon choix de reconversion, je suis prête pour me lancer dans de nouvelles aventures en entreprise.<br><br>

				Ces cours étant en téléprésentiel et m'ayant régulièrement fait travailler en pair-programming, je suis ouverte aux emplois en full-remote en fonction des opportunités qui me seront offertes.<br><br>

				</p>
			</div>
		</div>
	</section>
	<br>
<hr/>
<section class="contact">
	<h5>En savoir plus</h5>
	<p>Me contacter:
		<a href="{{ path('contact') }}">
			<i class="fas fa-envelope-square"></i></a>

		Mon CV:
		<a href="{{ path('curriculum') }}">
			<i class="far fa-file"></i></a>

		Linkedin:
		<a target="_blank" href="https://www.linkedin.com/in/amelie-sausseau/">
			<i class="fab fa-linkedin"></i></a>

		Github:
		<a target="_blank" href="https://github.com/Amelie-Sausseau/">
			<i class="fab fa-github-square"></i></a>
	</p>
</section>{% endblock %}
