body {
    position: relative;
    width: 100%;
    margin: 0;
    background-color: #e8d3d7;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

* {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

a:hover {
    color: #fafa;
}

.card {
    position: relative;
    background: white;
    max-width: 90%;
    width: 100%;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
}

.home {
    margin-top: 30px;
}

.navbar {
    max-width: 100%;
    width: 100%;
}

.cv {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.description {
    text-align:center;
}

.form-group {
    text-align: left;
}

.form-group h6 {
    text-align: right;
    color: lightgray;
    margin-top: 10px;
}

.fab, 
.fas,
.far {
    font-size: 30px;
    color: #3b5998;
}

.fab:hover, 
.fas:hover,
.far:hover {
    font-size: 30px;
    color: #fadade;
}

section {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.more-section {
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    content: '';
}


.navbar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.page {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 70px;
    padding-top: 70px;
    box-sizing: border-box;
    overflow-y: auto;
}

.page>* {
    margin: auto;
}

.presentation {
    display: flex;
    width: 100%;
    align-content: space-between;
    margin-top: 70px;
}

.presentation img {
    max-width: 30%;
    width: 400px;
    border-radius: 15%;
    margin-left: auto;
    margin-top: 20px;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.presentation p {
    text-align: left;
    margin-left: auto;
    margin-top: 30px;
    max-width: 50%;
    line-height: 1.5;
}

.projects-section {
    padding-bottom: 200px;
}

h1, h2, h3, h5 {
    margin-bottom: 20px;
}

h5 {
    margin-top: 20px;
    font-weight: bold;
}

h1 {
    margin-top: 20px;
}

h1,h2,h3,h5,p,a {
    color: rgba(0,0,0,0.8);
}

hr {
    border:0;
    border-top: 1px solid rgba(0,0,0,0.05);
    margin-top: 50px;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color:white;
    border: 0;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    background: linear-gradient(145deg, #3f5fa3, #355089);
}

.button:hover {
    background: linear-gradient(145deg, #e1c4c8, #ffe9ee);
    box-shadow:  10px 10px 25px #d5b9bd,
             -10px -10px 25px #fffbff;
    color: black;
}

.contact a {
    margin-right: 25px;
}

[disabled]{
    opacity: 0.3;
}


.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list li {
    width: 50%;
}

#portfolio {
    width: 170px;
}

@media screen and (max-width: 500px){
    .list li {
        width: 100%;
    }
    .list li:nth-child(even){
        text-align: center;
    }
    .list li:nth-child(odd){
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    .button {
        margin: 5px 10px;
    }

    .cv {
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    section a {
        display: inline-block;
        width: 100%;
    }

    .home {
        margin-top: 20px;
    }

    .page {
        padding-bottom: 150px;
    }
}


@media screen and (max-width: 1000px){

    .home {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1800px){
    .presentation img {
       width: 500px;
       max-width: 60%;
    }

    .presentation p {
        max-width: 40%;
    }
}

@media screen and (max-width: 1400px){
    .presentation {
       flex-direction: column;
    }

    .presentation img {
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
     }
 
     .presentation p {
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
     }
}